@media only screen and (max-width: 1024px){

    .main {
        background-image: url('../images/bg_main_mob_01.jpg');
    }

    .main-about{
        background-image: url('../images/bg_about_mobile_01.jpg');
    }

    header {
        background: linear-gradient(to right, rgba(84, 90, 91, 0.36) 90%, rgba(39, 50, 55, 0.7) 10%);
    }

    .main .burger-menu span {
        visibility: hidden;
    }
    .main-about .burger-menu span {
        visibility: hidden;
    }

    .main .burger-menu label span {
        visibility: visible;
    }

    .main-about .burger-menu label span {
        visibility: visible;
    }

    .main h1 {
        font: 95px/95px 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .main h1 span {
        font: 95px/95px 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
    }

    ul li a {
        font: 18px/22px 'Open Sans', sans-serif;
        font-weight: 600;
        color: black;

    }

      .main {
        background-image: url('../images/bg_main_mob_01.jpg');
    }


    .show-work .wrapper.d-flex div {
        width: 25%;
        max-height: 302px;
        margin-bottom: 3px;
}

    /*---ABOUT---*/

    .about-text {
        padding: 312px 15px 303px;
    }

    .about-text.container p {
        font: 35px/54px 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .services .d-flex div {
        width: 100%;
    }

    .services .wrapper.d-flex .serv-info {
        width: 100%;
        padding: 90px 75px;
    }
    .services .serv-info h5 {
        font-size: 85px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 175px;

    }
    .services .serv-info .d-flex {
        width: 100%;
        flex-direction: column;

    }
    .services .d-flex .serv-info p {
        display: block;
        color: #505d68;
        font: 31px/46px 'Open Sans', sans-serif;
        font-weight: 300;
        width: 100%;
    }

    .serv-info .d-flex ul li{
        color: #505d68;
        font: 31px/46px 'Open Sans', sans-serif;
        font-weight: 300;
        width: 100%;
    }


}



/*---------------------*/

@media only screen and (max-width: 992px) {
    h3 {
        font: 28px/28px 'Open Sans', sans-serif;
        margin-bottom: 35px;
    }


    h2 {
        font: 90px/90px 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 86px;
    }

    p {
        font: 29px/36px 'Open Sans', sans-serif;
        font-weight: 300;
        margin-bottom: 74px;
    }

    .show-work .wrapper.d-flex img {
        width: 33%;
        display: block;
    }

    .work .wrapper.d-flex img {
        width: 33%;
        display: block;
    }

}


/*----------------*/

@media only screen and (max-width: 768px) {
    .about a {
        font-size: 20px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .show-work .wrapper.d-flex img {
        width: 50%;
        display: block;
    }

    .people .d-flex div {
        width: 49%;
    }

    h4 {
        font: 40px/40px 'Open Sans', sans-serif;
        margin-bottom: 38px;
    }


    .post .d-flex div {
        max-width: 100%;
        margin: auto;
    }

    .post .desc {
        width: 100%;
    }

    .work .wrapper.d-flex img {
        width: 50%;
        display: block;
    }

    footer .container.d-flex {
        flex-wrap: wrap;
        text-align: start;
    }
    footer .container.d-flex div{
        width: 100%;
    }
    footer .container.d-flex div:first-of-type {
        margin-bottom: 15px;
    }



}
/*----------------------------*/

@media only screen and (max-width: 428px) {

        header {

        background: linear-gradient(to right, rgba(84, 90, 91, 0.36) 85%, rgba(39, 50, 55, 0.7) 15%);
    }


    header .logo {
        max-width: 120px;
        padding: 10px;
    }

    .burger-menu {
        width: 150px;
        font-size: 14px;
    }

    .burger-menu label {
        width: 22px;
        height: 18px;
    }

    label span:before {
        content: "";
        bottom: 6px;
    }

    label span:after {
        content: "";
        top: 6px;
    }

    .burger-menu ul {
        left: -60px;
        width: 200px;
        height: 50%;
        padding: 30px 0;
    }

    #menu:checked ~ ul {
        left: -40%;
    }

    ul li a {
        font: 22px/22px 'Open Sans', sans-serif;
        font-weight: 600;
        color: black;
    }
    .burger-menu ul li a:hover{
        color: #ffffff;
        background-color:transparent;
    }

    #menu:checked ~ ul {
        left: -40%;
    }
    .main h1 {
        font: 64px/64px 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .main h1 span {
        font: 64px/64px 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
    }


    h3 {
        font: 28px/28px 'Open Sans', sans-serif;
        margin-bottom: 35px;
    }


    h2 {
        font: 64px/64px 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 86px;
    }

    p {
        font: 29px/44px 'Open Sans', sans-serif;
        font-weight: 300;
        margin-bottom: 74px;
    }

    .show-work .wrapper.d-flex img {
        width: 100%;
        display: block;
    }

    .people .d-flex div {
        width: 100%;
    }

    h4 {
        font: 40px/40px 'Open Sans', sans-serif;
        margin-bottom: 38px;
    }

    .people p,
    .people .d-flex div p,
    .post .d-flex .desc p{
        font: 29px/44px 'Open Sans', sans-serif;
        padding-right: 15px;
        font-weight: 300;

    }

    .post .d-flex div {
        width: 100%;
        margin: auto;
    }

    .post .desc {
        width: 100%;
    }

    .contact .d-flex div {
        background-color: #f9f9f9;
        padding: 30px 15px 30px;
        text-align: center;
        width: 100%;
    }

    h6 {
        color:#505d68 ;
        font-size: 12px;
        margin-bottom: 20px;
    }

    .contact p{
        font-size: 16px;
    }




    /*---ABOUT---*/
    .about-text {
        padding: 80px 15px 0;
    }

    .about-text.container p {
        font: 26px/42px 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .services .d-flex div {
        width: 100%;
    }

    .services .wrapper.d-flex .serv-info {
        width: 100%;
        padding: 70px 25px;
    }
    .services .serv-info h5 {
        font-size: 65px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 75px;

    }
    .services .serv-info .d-flex {
        width: 100%;
        flex-direction: column;

    }
    .services .d-flex .serv-info p {
        font: 26px/40px 'Open Sans', sans-serif;
        font-weight: 300;
        width: 100%;
        padding: 0;
    }

    .serv-info .d-flex ul li{
        color: #505d68;
        font: 26px/40px 'Open Sans', sans-serif;
        font-weight: 300;
        width: 100%;
    }
    .serv-info .d-flex ul {
        padding-left: 0;
    }

    .work .wrapper.d-flex img {
        width: 100%;
        display: block;
        padding-bottom: 1px;
    }

}


@media only screen and (max-width: 365px) {
    /*---ABOUT---*/
    .about-text {
        padding: 50px 15px 0;
    }

    .about-text.container p {
        font: 18px/36px 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .services .d-flex div {
        width: 100%;
    }

    .services .wrapper.d-flex .serv-info {
        width: 100%;
        padding: 40px 25px;
    }

    .services .serv-info h5 {
        font-size: 35px;
        margin-bottom: 40px;

    }

    .services .serv-info .d-flex {
        width: 100%;
        flex-direction: column;

    }

    .services .d-flex .serv-info p {
        font: 18px/36px 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .serv-info .d-flex ul li {
        font: 18px/36px 'Open Sans', sans-serif;
        font-weight: 300;
    }
}
/*-------WORK----*/
@media only screen and (max-width: 1024px){
    .main-work{
        background-image: url('../images/main_work-mobile_01.jpg');
    }
    .main-work .burger-menu span {
        visibility: hidden;
    }

    .main-work .burger-menu label span {
        visibility: visible;
    }


    .about-text {
        padding: 80px 15px 0;
    }

    .about-text.container p {
        font: 26px/42px 'Open Sans', sans-serif;
        font-weight: 300;
    }


}















