@media only screen and (max-width: 1024px){
    .show-work .wrapper.d-flex div {
        width: 25%;
        max-height: 302px;
        margin-bottom: 3px;
}
}
@media only screen and (max-width: 992px){
    .show-work .wrapper.d-flex img {
        width: 33%;
        display: block;
    }




@media only screen and (max-width: 767px){
    .main {
        background-image: url('../images/bg_main_mob_01.jpg');
        }

    header {
      background-color: rgba(84, 90, 91, 0.36);
        background:linear-gradient(to right, rgba(84, 90, 91, 0.36) 90%, rgba(39, 50, 55, 0.7)10%);
    }

    .main .burger-menu span{
        visibility: hidden;
    }
    .main .burger-menu label span{
        visibility: visible;
    }


    .main h1 {
        font: 95px/95px 'Open Sans', sans-serif;
        font-weight: 300;
    }
    .main h1 span{
        font: 95px/95px 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
    }




    ul li a {
        font: 27px/27px 'Open Sans', sans-serif;
        font-weight: 600;
        background-color: #f9f9f9;
    }


    h3 {
        font: 28px/28px 'Open Sans', sans-serif;
        margin-bottom: 35px;
    }



    h2 {
        font: 90px/90px 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 86px;
    }
    p {
        font: 29px/36px 'Open Sans', sans-serif;
        font-weight: 300;
        margin-bottom: 74px;
    }

    .show-work .wrapper.d-flex img {
        width: 50%;
        display: block;
    }


    .post .d-flex div {
        max-width: 100%;
        margin: auto;
    }
    .post .desc {
        width: 100%;
    }
}




